{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block style %}
  .list-container {
    padding: 0px;
    list-style-position: outside;
    display: flex;
    flex-wrap: wrap;
  }
  .list-container-item {
    height: 40vh;
    flex-grow: 1;
    list-style-type: none;
  }
  .list-container-item-img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  .list-container-item:last-child {
    flex-grow: 10;
  }
  @media (max-aspect-ratio: 1/1) {
    .list-container-item{
      height: 30vh;
    }
  }
  @media (max-height: 480px) {
    .list-container-item{
      height: 80vh;
    }
  }
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .list-container {
      flex-direction: row;
    }
    .list-container-item{
      height: auto;
      width: 100%;
    }  
    .list-container-item-img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
{% endblock style %}

{% block intro %}
<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'galery' %}">Галерея</a></li>
    <li class="breadcrumb-item active">{{ galery.header }}</li>
  </ol>
</nav>
{% endblock intro %}

{% block content %}
{% endblock content %}

{% block prefooter %}
<ul class="list-container" style="margin:0px;">
  {% for p in photo %}
    <li class="list-container-item">
      <img src="{{ p.event_photo.url }}" alt="{{ p.pk }}. photo_in_galery_img" class="list-container-item-img" loading="lazy">
    </li>
  {% endfor %}
  <li></li>
</ul>
{% endblock prefooter %}