{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block style %}
  .galery-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-container{
    width: 300px;
    min-width: 15vw;
    margin: 20px;
  }
  .card{
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .25);
  }
  .card:hover{
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .05);
  }
  .card-img-div{
    height: 300px;
    min-height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
  .card-body{
    color: black;
    height: 150px;
    z-index: 10;
  }
  .card-title{
    font-weight: bold;
    margin-bottom: 12px;
    z-index: 10;
    font-size: 90%;
  }
  .card-description{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 90%;
  }
  .card-description:hover{
    transition-delay: 2s;
    -webkit-transition: 850ms;
    overflow: revert;
    -webkit-line-clamp: unset;
    background-color: white;
    box-shadow: -20px 0px 0px 0px white, 20px 0px 0px 0px white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  div a:hover, a:active{
    text-decoration: none;
  }
{% endblock style %}

{% block intro %}
<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Галерея</li>
  </ol>
</nav>
{% endblock intro %}

{% block content %}
<div class="galery-container">
  <!-- Навигация по галереям -->
  {% for galery in galery_catalog %}
    <div class="card-container">
      <a href="{{ galery.get_absolute_url }}">
        <div class="card">
          <div class="card-img-div" style="">
            <img class="card-img-top" src="{{ galery.galery_photo.url }}" alt="{{ galery.pk }}. galery_img" loading="lazy">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">
              {{ galery.header }}
            </h5>
            <p class="card-description text-center">
              {{ galery.description|linebreaksbr }}
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock content %}

{% block prefooter %}
  <div style="margin-top: 20px;"></div>
{% endblock prefooter %}