{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block style %}
  .card{
    border-radius: 10px;
  }
  .card-container{
    padding: 5px; 
    width: 92vw;
    float: left;
    height: 460px;
    margin-bottom: 10px;
  }
  .card-title{
    margin-bottom: 20px;
  }
  .card-body{
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-img-div{
    align-self: center;
    width: 330px;
  }
  .card-img-top {
    margin: auto;
    height: 300px;
    width: auto;
    overflow: hidden;
  }
{% endblock style %}

{% block intro %}
<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Галерея</li>
  </ol>
</nav>
{% endblock intro %}

{% block content %}
  <!-- Навигация по галереям -->
  {% for galery in galery_catalog %}
    <div class="card-container col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-img-div" style="overflow: hidden;">
          <a href="{{ galery.get_absolute_url }}">
            <img class="card-img-top center-cropped"  src="{{ galery.galery_photo.url }}" alt="{{ galery.pk }}. galery_img">
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-title text-center">
            <b>{{ galery.header }}</b>
          </h6>
          <p class="text-center">{{ galery.description|linebreaks }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block prefooter %}
  <div style="margin-top: 20px;"></div>
{% endblock prefooter %}