{% extends 'base.html' %}
{% load static %}

{% block header %}

	<title>О школе "Star's Kids"</title>
	<meta name="keywords" content="футбольная школа, футбол, тренировки, дети, Star's Kids, Stars-kids, крылатское">
	<meta name="description" content="Для детей разного уровня подготовки: от 3 до 16 лет
	Эффективная методика тренировок. Многолетний опыт тренеров. Программы, адаптированные для самых молодых спортсменов. Энтузиазм, азарт и дисциплина!
	Тренировочный процесс проводится сертифицированным тренерским штабом. Программы различных уровней нацеленности.
	Участие в турнире: дети участвуют в локальных и массовых турнирах, показывая наивысший результат, появляется шанс попасть на высший уровень футбольного мастерства. Это один из первых шагов ребёнка в профессиональный футбол.">
{% endblock header %}

{% block intro %}
{% endblock intro %}

{% block style %}
	p{
		font-size: 110%;
	}
	.childs-img{
		width: 80vw;
		max-width: 360px;
	}
{% endblock style %}

{% block content %}
	<p class="text-center">
		Футбольная школа <b>«Star’s Kids»</b> - это<br>
		инновационный подход к спортивной подготовке и футбольного индивидуального развития,<br>
		который затрагивает самые основные аспекты воспитания молодых спортсменов:
	</p>

	<div class="container mb-3">
		<img class="childs-img d-block img-fluid"
			src="{% static 'mainapp/about/child1.jpg' %}" alt="child1">
	</div>

	<p class="text-center">
		1. Понимание базиса тактической составляющей игры на поле<br>
	</p>
	<p class="text-center">
		2. Обучение технике владения мячом и ее совершенствование<br>
	</p>
	<p class="text-center">
		3. Понимание базиса тактической составляющей игры на поле<br>
	</p>
	<p class="text-center" style="margin-bottom:32px;">
		4. Воспитание личностных качеств игроков: воля к победе,<br>
		принципы честной игры, командный дух, приверженность
	</p>

	<p class="text-center mb-3" style="font-size:150%;"><b>Участие в турнирах</b></p>

	<div class="container mb-3">
		<img class="childs-img d-block img-fluid"
			src="{% static 'mainapp/about/childs2.jpg' %}" alt="childs2">
	</div>

	<p class="text-center" style="margin-bottom:32px;">
		Дети участвуют в локальных и массовых турнирах, показывая наивысший результат.<br>
		У них появляется шанс попасть на высший уровень футбольного мастерства.<br>
		Это один из первых шагов в профессиональный футбол.
	</p>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
