{% extends 'base.html' %}
{% load static %}

{% block intro %}
{% endblock intro %}

{% block style %}
	.trainer-image{
		width: 100vw;
	}
	p{
		font-size: 110%;
	}
{% endblock style %}

{% block content %}
	<p class="text-center">
		Футбольная школа <b>«Star’s Kids»</b> - это<br>
		инновационный подход к спортивной подготовке и футбольного индивидуального развития,<br>
		который затрагивает самые основные аспекты воспитания молодых спортсменов:
	</p>

	<div class="container mb-3">
		<img class="child-img d-block img-fluid"
			src="{% static 'mainapp/about/child1.jpg' %}" alt="child1">
	</div>

	<p class="text-center">
		1. Понимание базиса тактической составляющей игры на поле<br>
	</p>
	<p class="text-center">
		2. Обучение технике владения мячом и ее совершенствование<br>
	</p>
	<p class="text-center">
		3. Понимание базиса тактической составляющей игры на поле<br>
	</p>
	<p class="text-center" style="margin-bottom:32px;">
		4. Воспитание личностных качеств игроков: воля к победе,<br>
		принципы честной игры, командный дух, приверженность
	</p>

	<p class="text-center mb-3" style="font-size:150%;"><b>Участие в турнирах</b></p>

	<div class="container mb-3">
		<img class="child-img d-block img-fluid"
			src="{% static 'mainapp/about/childs2.jpg' %}" alt="childs2">
	</div>

	<p class="text-center" style="margin-bottom:32px;">
		Дети участвуют в локальных и массовых турнирах, показывая наивысший результат.<br>
		У них появляется шанс попасть на высший уровень футбольного мастерства.<br>
		Это один из первых шагов в профессиональный футбол.
	</p>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
